.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.logo {
  width: 600px;
  margin-bottom: 600px;
}

.connect-wallet {
  padding: 15px 30px;
  background-color: #3498db;
  color: white;
  border-radius: 25px;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: #3498db;
  padding: 15px;
  color: white;
}

.main-container {
  padding: 20px;
}

#wallet-scan {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
#crypto-list div {
  margin: 10px 0;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Modifié de center à flex-start */
  height: 100vh;
  margin-top: 20vh;  /* Déplace les éléments vers le bas de 20% de la hauteur de la fenêtre */
  padding: 20px;
}


